<!-- Binding -->

<!-- INTERPOLATION -->
<p>{{ user.name }}</p>
<p>{{ user.age }}</p>
<!-- Property binding -->
<!-- khai báo property binding [property]="expression" -->
<!-- <input [type]="user.type" [value]="user.name" /> -->
<!-- Event binding  -->
<button (click)="show('hello')">click</button>
<!-- two way binding -->
<input [type]="user.type" [(ngModel)]="user.age" />

<!-- if -->
<div *ngIf="user.age > 20">Bạn có thể xem PG-13</div>

<!-- ngIf -->
<!-- if else cách 1 -->
<div *ngIf="user.age >= 13; else noPG13">Bạn có thể xem PG-13</div>
<ng-template #noPG13>
  <div>Bạn không thể xem PG-13</div>
</ng-template>

<!-- if else cách 2 dễ nhìn hơn -->
<ng-template [ngIf]="user.age >= 13" [ngIfElse]="noPG13">
  <div>Bạn có thể xem PG-13</div>
</ng-template>
<ng-template #noPG13>
  <div>Bạn không được phép xem PG-13</div>
</ng-template>

<!-- ngFor -->
<div *ngFor="let author of authors">
  {{ author.id }} - {{ author.firstName }} {{ author.lastName }} ,
  {{ author.email }}, {{ author.gender }}
</div>

<!-- MỘT SỐ LOCAL VARIABLE TRONG MỘT NGFOROF TEMPLATE 
$implicit: T	(Giá trị của phần tử trong danh sách ở lần lặp hiện tại)
index: number	(index của lần lặp hiện tại)
count: number	(số lượng phần tử trong danh sách)
first: boolean	(True nếu đây là phần tử đầu tiên trong danh sách)
last: boolean	(True nếu đây là phần tử cuối cùng trong danh sách)
even: boolean	(True nếu đây là phần tử ở index chẵn)
odd: boolean	(True nếu đây là phần tử ở index lẻ) -->
<div
  *ngFor="
    let author of authors;
    let i = index;
    let total = count;
    trackBy: trackByFn
  "
>
  ({{ i }})/({{ total }}): {{ author.firstName }} {{ author.lastName }} ,
  {{ author.email }}, {{ author.gender }}
</div>

<div *ngFor="let author of authors">
  <div *ngIf="author.id == 2">{{ author.firstName }}</div>
</div>

<!-- SỬ DỤNG NHIỀU STRUCUTRE DIRECTIVE TRÊN CÙNG MỘT PHẦN TỬ -->
<!-- sử dụng ng-container để dùng ngFor vào ngIf -->
<div *ngFor="let author of authors">
  <ng-container *ngIf="author.id == 2">
    {{ author.firstName }} 111</ng-container
  >
</div>

<!-- hoặc ng-template -->
<div *ngFor="let author of authors">
  <ng-template [ngIf]="author.id == 2"> {{ author.firstName }} 222</ng-template>
</div>

<!-- ATTRIBUTE DIRECTIVE -->

<!-- Class binding
Sử dụng để add hoặc remove class dựa trên điều kiện  -->
<!-- cách 1 -->
<div [class.tab-active]="isTabActive">some content</div>
<!-- cách 2 -->
<div [class]="{ 'tab-active': isTabActive }">some content</div>

<!-- sử dụng mảng class -->
<div [class]="['my-class', 'another-class']">sử dụng mảng class</div>
<div [ngClass]="['my-class', 'another-class']">sử dụng mảng class</div>

<!-- sử dụng mảng class dựa theo điều kiện -->
<div
  [class]="{
    'my-class': isMyClassActive,
    'another-class': isAnotherClassActive
  }"
>
  sử dụng mảng class dựa theo điều kiện
</div>

<div
  [ngClass]="{
    'my-class': isMyClassActive,
    'another-class': isAnotherClassActive
  }"
>
  sử dụng mảng class dựa theo điều kiện
</div>

<!-- Sharing data between child and parent directives and components 
(parent: Chat, child: Child)
-->
<!-- 
  @Input:  parent -> child 
  @Output: parent <- child
-->

<!-- ngOnchanges -->
<h4>ngOnchanges</h4>
<input type="text" [(ngModel)]="textInput" (change)="handleInput()">



<!-- <router-outlet></router-outlet> -->
